/*основной цвет: #757575*/
/*вторичный цвет:#212121*/
/*акцент: #2196f3*
/*белый: #fff*/
/*основной цвет фона: #e5e5e5*/
/*вторичный цвет фона: #F5F4FA*/
/*цвет логотипа: №000*
/* фон секции героя: #2F303A;*/
/* цвет граниы хедера: #ECECEC */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --logo-color: #000;
  --hero-bg-color: #2f303a;
  --header-border-color: #ececec;
}

/* основные */

html {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: inline-block;
  padding: 24px 94px 24px 0;
}

.list .list-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list .list-link :last-child {
  padding-right: 0;
}

.list .list-link :first-child {
  padding: 0;
  margin: 0;
}

/* .list-puncts */

.list {
  list-style: none;
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* шапка */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid purple;
}

header {
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--primary-white-color);
}

/* vall */
.divnav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav .link {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 94px;
}
.list-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-right: 50px;
}

/* vall */

.link-web,
.link-studio,
.studio-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: inline-flex;
}

.link-studio {
  color: var(--logo-color);
}

.studio-link {
  color: var(--primary-white-color);
}

.list a:hover,
.list a:focus {
  color: var(--accent-color);
}

.list .current {
  color: var(--accent-color);
}

.list-item {
  align-items: center;
  display: inline-flex;
  margin-left: 50px;
}

.list-mail,
.list-tel {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* герой */

.hero-section {
  background-color: var(--hero-bg-color);
  text-align: center;
  padding-bottom: 0;
}

h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 900;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;
}

.primary {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border: none;
}

/* Наши положительные качества*/

section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.qualities{
  padding-bottom: 0px;
  }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-bottom: 10px;
  padding-top: 0;
}

.list-puncts {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  margin-left: -30px;
  
}

.list-puncts > .punct {
  flex-basis: calc(100% / 4);
  margin-left: 30px;
}

.gallery{
  padding-top: 83px;
}

.list-ability{
padding: 0;
margin: 0;
list-style: none;


display: flex;
flex-wrap: wrap;

margin-right: -30px;
margin-top: -30px;

}

.list-ability > .ability-img {
flex-basis: calc(100% /3 - 30px);
margin-right: 30px;
margin-top: 30px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  
}


/*  комaнда */

.teem {
  background-color: var(--secondary-bg-color);
}

.ability,
.comunity {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  padding-bottom: 50px;
  padding-top: 0;
}

.person {
  padding-left: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* подвал */
.footer {
  background-color: var(--hero-bg-color);
}

.footer-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 60px;
  margin-bottom: 20px;
  display: inline-block;
}

.adress .location {
  padding-top: 0;
  padding-bottom: 0;
}

.location {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.mail-list,
.tel-list {
  text-decoration: none;
  color: var(--logo-color) 0.6;
  font-style: normal;
  color: var(--primary-white-color) 60%;
}
.footer-list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}
.mail-list {
  padding-bottom: 9px;
  padding-top: 9px;
}

/* портфолио */

.portfolio-list {
  list-style: none;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}
.portfolio-list a:hover,
.portfolio-list a:focus {
  color: var(--accent-color);
}
.portfolio-list .current {
  color: var(--accent-color);
}
.portfolio-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}
.portfolio-list button:focus,
.portfolio-list button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.titel-hidden {
  display: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
